<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Transportation Movement Requests</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<%- include('partials/navigation.ejs', {active: "Search"}); %>
			<font face="arial">
			<div class="form">
			<table border="1">
				<tr>
					<td colSpan="2" align="center">
						<h2>CJOC-J MCT</h2>
						<h3>TRANSPORTATION MOVEMENT REQUEST (TMR)</h3>
					</td>
				</tr>
				
				<tr><td colSpan="2" align="center">These items are ordered under contract number: W52P1J-15-D-0055</td></tr>
		
				<tr>
					<td colSpan="2"></td>
				</tr>
				
				<tr>
					<td align="center">TMR NUMBER:</td>
					<td><input type="text" name="tmr_num" value=<%= result.TMR_Number %>></td>
				</tr>
				<tr>
					<td align="center">Date received at MCT for processing:</td>
					<td><input type="text" name="tmr_date" value=<%= result.TMR_Date
 %>></td>
				</tr>
		
				<tr>
					<td colSpan="2"></td>
				</tr>
				
				<tr>
					<td align="center">TMR STATUS:</td>
					<td>
						<select name="tmr_status">
							<option value="">MCT ONLY</option>
							<option value="approved">Approved</option>
							<option value="notApproved">Not Approved</option>
						</select>
					</td>
				</tr>

				<tr>
					<td>				
						<table>
							<tr>
								<td>REQUESTING UNIT:</td>
								<td><input type="text" name="req_unit" value=<%= result.Requesting_Unit %>></td>
								<td>DATE:</td>
								<td><input type="text" name="RequestingDate" value=<%= result.Requested_Date %>></td>
							</tr>
							<tr>
								<td>POC:</td>
								<td><input type="text" name="RequestingUnitPOC" value="<%- result.Requesting_POC %>"></td>
								<td>JORDANIAN CELL PHONE:</td>
								<td><input type="text" name="JordanianCellPhone" value=<%= result.POC_Cell %>></td>
							</tr>
						</table>
					</td>
										<td>Higher Command:
					<select id="filer_id" name="filter_id">
						<option value="<%= result.Higher_Command %>" selected="selected"><%= result.Higher_Command %></option>
n>
					</td>
				</tr>
				<tr>
					<td>EMAIL ADDRESS:</td>
					<td><input type="text" name="EmailAddress" value=<%= result.POC_Email
 %></td>
				</tr>

<!-- Origin -->
				<tr>
					<td colSpan="2" align="center" bgcolor="gray"><strong>ORIGIN</strong></td>
				</tr>
				
				<tr>
					<td>LOCATION:</td>
					<td><input type="text" name="Location" value=<%= result.Origin %>></td>
				</tr>
				<tr>
					<td>DATE/TIME:</td>
					<td><input type="text" name="DateTime" value=<%= result.Request_Date
 %>></td>
				</tr>
				<tr colSpan="2">
					<td>				
						<table>
							<tr>
								<td>ORIGIN POC:</td>
								<td>NAME:</td>
								<td><input type="text" name="OriginName" value="<%= result.Origin_POC %>"></td>
								<td>PHONE:</td>
								<td><input type="text" name="OriginPhone" value=<%= result.Origin_POC_Cell %>></td>
							</tr>
						</table>
					</td>
				</tr>

<!-- Destination -->
				<tr>
					<td colSpan="2" align="center" bgcolor="gray"><strong>DESTINATION</strong></td>
				</tr>
				
				<tr>
					<td>DESTINATION:</td>
					<td><input type="text" name="Destination" value=<%= result.Destination %>></td>
				</tr>
				<tr>
					<td>				
						<table>
							<tr>
								<td>DESTINATION POC:</td>
								<td>NAME:</td>
								<td><input type="text" name="DestinationName" value="<%= result.Destination_POC %>"></td>
								<td>PHONE:</td>
								<td><input type="text" name="DestinationPhone" value=<%= result.Destination_POC_Cell
 %>></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>ESTIMATIED TIME OF COMPLETION:</td>
					<td><input type="text" name="EstimationTimeOfCompletion" value=<%= result.Completion_Date %>></td>
				</tr>

<!-- Equipment Description -->
				<tr>
					<td colSpan="2" align="center" bgcolor="gray"><strong>EQUIPMENT DESCRIPTION</strong></td>
				</tr>
				<tr>
					<td colSpan="2">				
						<table>
							<tr>
								<td>CONTAINER # / ITEM DESCRIPTION</td>
								<td>LENGTH</td>
								<td>WIDTH</td>
								<td>HEIGHT</td>
								<td>WEIGHT</td>
							</tr>
							<tr>
								<td><input type="text" name="ItemDescrption_1" value="<%= result.Item_1 %>"></td>
								<td><input type="text" name="Length_1" value="<%= result.Length_1 %>"></td>
								<td><input type="text" name="Width_1" value="<%= result.Width_1 %>"></td>
								<td><input type="text" name="Height_1" value="<%= result.Height_1 %>"></td>
								<td><input type="text" name="Weight_1" value="<%= result.Weight_1 %>"></td>
							</tr>
							<tr>
								<td><input type="text" name="ItemDescrption_2" value="<%= result.Item_2 %>"></td>
								<td><input type="text" name="Length_2" value="<%= result.Length_2 %>"></td>
								<td><input type="text" name="Width_2" value="<%= result.Width_2 %>"></td>
								<td><input type="text" name="Height_2" value="<%= result.Height_2 %>"></td>
								<td><input type="text" name="Weight_2" value="<%= result.Weight_2 %>"></td>
							</tr>
							<tr>
								<td><input type="text" name="ItemDescrption_3" value="<%= result.Item_3 %>"></td>
								<td><input type="text" name="Length_3" value="<%= result.Length_3 %>"></td>
								<td><input type="text" name="Width_3" value="<%= result.Width_3 %>"></td>
								<td><input type="text" name="Height_3" value="<%= result.Height_3 %>"></td>
								<td><input type="text" name="Weight_3" value="<%= result.Weight_3 %>"></td>
							</tr>
							<tr>
								<td><input type="text" name="ItemDescrption_4" value="<%= result.Item_4 %>"></td>
								<td><input type="text" name="Length_4" value="<%= result.Length_4 %>"></td>
								<td><input type="text" name="Width_4" value="<%= result.Width_4 %>"></td>
								<td><input type="text" name="Height_4" value="<%= result.Height_4 %>"></td>
								<td><input type="text" name="Weight_4" value="<%= result.Weight_4 %>"></td>
							</tr>
							<tr>
								<td><input type="text" name="ItemDescrption_5" value="<%= result.Item_5 %>"></td>
								<td><input type="text" name="Length_5" value="<%= result.Length_5 %>"></td>
								<td><input type="text" name="Width_5" value="<%= result.Width_5 %>"></td>
								<td><input type="text" name="Height_5" value="<%= result.Height_5 %>"></td>
								<td><input type="text" name="Weight_5" value="<%= result.Weight_5 %>"></td>
							</tr>
							<tr>
								<td><input type="text" name="ItemDescrption_6" value="<%= result.Item_6 %>"></td>
								<td><input type="text" name="Length_6" value="<%= result.Length_6 %>"></td>
								<td><input type="text" name="Width_6" value="<%= result.Width_6 %>"></td>
								<td><input type="text" name="Height_6" value="<%= result.Height_6 %>"></td>
								<td><input type="text" name="Weight_6" value="<%= result.Weight_6 %>"></td>
							</tr>
							<tr>
								<td><input type="text" name="ItemDescrption_7" value="<%= result.Item_7 %>"></td>
								<td><input type="text" name="Length_7" value="<%= result.Length_7 %>"></td>
								<td><input type="text" name="Width_7" value="<%= result.Width_7 %>"></td>
								<td><input type="text" name="Height_7" value="<%= result.Height_7 %>"></td>
								<td><input type="text" name="Weight_7" value="<%= result.Weight_7 %>"></td>
							</tr>
							<tr>
								<td><input type="text" name="ItemDescrption_8" value="<%= result.Item_8 %>"></td>
								<td><input type="text" name="Length_8" value="<%= result.Length_8 %>"></td>
								<td><input type="text" name="Width_8" value="<%= result.Width_8 %>"></td>
								<td><input type="text" name="Height_8" value="<%= result.Height_8 %>"></td>
								<td><input type="text" name="Weight_8" value="<%= result.Weight_8 %>"></td>
							</tr>
						</table>
					</td>
				</tr>

<!-- Passenger and Baggage Description -->
				<tr>
					<td colSpan="2" align="center" bgcolor="gray"><strong>PASSENGER AND BAGGAGE DESCRIPTION</strong></td>
				</tr>
				<tr>
					<td>				
						<table>
							<tr>
								<td>NUMBER OF PAX:</td>
								<td><input type="text" name="NumberOfPAX" value= <%= result.PAX %>></td>
								<td>NUMBER OF BAGS:</td>
								<td><input type="text" name="NumberofBags" Value= <%= result.Bags %>></td>
							</tr>
						</table>
					</td>
				</tr>

<!-- Assets Required for Transport -->
				<tr>
					<td colSpan="2" align="center" bgcolor="gray"><strong>ASSETS REQUIRED FOR TRANSPORT</strong></td>
				</tr>
				<tr>
					<td>QTY</td>
					<td></td>
				</tr>
				<tr>
					<td><input type="text" name="Quantity_1" value=<%= result.Quantity_1 %>></td>
					<td>
						<select id="Asset" name="Asset_1">
							<option selected="selected" value=<%= result.Asset_1 %>>"<%= result.Asset_1 %>" </option>
						</select>
					</td>
				</tr>
				<tr>
					<td><input type="text" name="Quantity_2" value=<%= result.Quantity_2 %>></td>
					<td>
						<select id="Asset" name="Asset">
							<option selected="selected" value=<%= result.Asset_2 %>>"<%= result.Asset_2 %>" </option>
						</select>
					</td>
				</tr>
				<tr>
					<td><input type="text" name="Quantity_3" value=<%= result.Quantity_3 %>></td>
					<td>
						<select id="Asset" name="Asset">
							<option selected="selected" <%= result.Asset_3 %>>"<%= result.Asset_3 %>" </option>
						</select>
					</td>
				</tr>
				<tr>
					<td><input type="text" name="Quantity_4" value=<%= result.Quantity_4 %>></td>
					<td>
						<select id="Asset" name="Asset">
							<option selected="selected" value=<%= result.Asset_4 %>>"<%= result.Asset_4 %>" </option>
						</select>
					</td>
				</tr>
				<tr>
					<td><input type="text" name="Quantity_5" value=<%= result.Quantity_5 %>></td>
					<td>
						<select id="Asset" name="Asset">
							<option selected="selected" value=<%= result.Asset_5 %>>"<%= result.Asset_5 %>" </option>
						</select>
					</td>
				</tr>

				<tr>
					<td colSpan="2" align="center" bgcolor="gray"></td>
				</tr>

				<tr>
					<td>SENSITIVE ITEMS</td>
					<td>
						<select name="SensitiveItems">
							<option selected="selected" <%= result.Sensitive %>><%= result.Sensitive %></option>
						</select>
					</td>
				</tr>

<!-- Additional Reference -->
				<tr>
					<td colSpan="2" align="center" bgcolor="gray"><strong>ADDITIONAL REFERENCE</strong></td>
				</tr>
				<tr>
					<td colSpan="2"><textarea name="AdditionalReference" rows="3" cols="80" value="<%- result.More_Details %>" /></textarea></td>
				</tr>

<!-- After Action Review to MCT After Mission Complete -->
				<tr>
					<td colSpan="2" align="center" bgcolor="gray"><strong>AFTER ACTION REVEIW TO MCT AFTER MISSION COMPLETE</strong></td>
				</tr>
				<tr>
					<td colSpan="2">
						<table>
							<tr>
								<td>TIME ASSETS ARRIVED:</td>				
								<td><input type="text" name="TimeAssetsArrived"></td>
								<td>DID ASSETS PERFORM IN A SATISFACTORY MANNER?</td>
							</tr>
						</table>
						<table width="100%">
							<tr>
								<td width="30">MISSION COMPLETE TIME:</td>				
								<td align="left"><input type="text" name="MissionCompleteTime"></td>
								<td align="right"></td>
								<td align="right">YES</td>
								<td align="center"><input type="radio" name="AssetPerformance"></td>
								<td align="right">NO</td>
								<td align="center"><input type="radio" name="AssetPerformance"></td>
							</tr>
						</table>
					</td>
				</tr>		
			</table>
		</div>
		</font>
		<%- include partials/footer.ejs %>
	</body>
</html>